{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block title %} samuel's portfolio {% endblock title %}</title>

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- personal css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

	<!-- favicon -->
	<link id="favicon" rel="shortcut icon" type="image/png" href="{% static 'images/f1.webp' %}">

</head>

<body style='background-color: #000000'>

	<nav>
		<a href="/" class="logo_link"> <img src="{% static 'images/logos/logo1.webp' %}" alt="website logo" class="logo" id="logo" onload="setImage()"> </a>

		<div class ="hamburger">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
		</div>

		<ul class="nav-links">
			<li> <a href="/#lp_about" onclick="topFunction()"> about me </a></li>
			<li> <a href="/#lp_projects" onclick="projectsFunction()"> projects </a></li>
			<li> <a href="/contact"> contact me </a></li>
		</ul>
	</nav>

	{% block content %} main content {% endblock %}

	<div class="tail_container">
		<br> <br> <br> <br> <hr> 
		<a href="/info"> <p class="tail_link"> <i> More info about this website here. <i> </p> </a>
	</div>

	<!-- bootstrap javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script> 
		//sticky navbar jscript
		window.addEventListener('scroll', function(){
			var nav = document.querySelector('nav');
			var lo = document.getElementById('logo');
			var fav = document.getElementById('favicon');
			nav.classList.toggle('sticky', window.scrollY > 0);

			if (nav.classList.contains('sticky')) {
				if(window.innerWidth < 770) { 
					lo.setAttribute('src','{% static "images/logos/logoa1.png" %}');
					fav.setAttribute('href','{% static "images/f2.png" %}');
				} else {
					lo.setAttribute('src','{% static "images/logos/logoa1.webp" %}');
					fav.setAttribute('href','{% static "images/f2.webp" %}');
				}
			} else {
				if(window.innerWidth < 770) { 
					lo.setAttribute('src','{% static "images/logos/logo1.png" %}');
					fav.setAttribute('href','{% static "images/f1.png" %}');
				} else {
					lo.setAttribute('src','{% static "images/logos/logo1.webp" %}');
					fav.setAttribute('href','{% static "images/f1.webp" %}');
				}
			}
		});

		//scroll to top function
		function topFunction() {
		  document.body.scrollTop = 0;
		  document.documentElement.scrollTop = 0;
		}

		//scroll to projects
		function projectsFunction() {
			document.body.scrollTop = 500;
			document.documentElement.scrollTop = 500;
		}

		//navbar jscript
		const hamburger = document.querySelector(".hamburger");
		const navLinks = document.querySelector(".nav-links");
		const links = document.querySelectorAll(".nav-links li");

		hamburger.addEventListener("click", () => {
	  		navLinks.classList.toggle("open");
	  		links.forEach(link => {
	    	link.classList.toggle("fade");
	  		});

	  		//burger animation
			hamburger.classList.toggle('toggle');
		});

		function setImage() {
			if(window.innerWidth < 770 && document.getElementById("image").src.endsWith(".webp")) {
    			var x = document.getElementById("image").src;
        		x = x.split(".webp");
    			x = x[0] + ".png";
    			document.getElementById("image").src = x;
			} else if(window.innerWidth < 770 && document.getElementById("image").src.endsWith(".png")) {
				var y = document.getElementById("image").src; 
				document.getElementById("image").src = y;
			} else {
				var y = document.getElementById("image").src; 
				document.getElementById("image").src = y;
			}
		}  

	</script>

</body>

</html>